// .container {
//     margin-left: auto;
//     margin-right: auto;
//     padding-left: 31px;
//     padding-right: 31px;
//     width: 100%;
//     @media screen and (min-width:$tablet) {
//       width:$tablet ;
//       padding-left: 39px;
//      padding-right: 39px;

//     }
//     @media screen and (min-width:$desktop) {
//       width:$desktop ;
//       padding-left: 55px;
//      padding-right: 55px;
//     }

// }

.container {
	margin-top: 0px;
	margin: auto;
	margin-right: auto;
	padding: 84px 31px;

	max-width: $mobile;

	@media screen and (min-width: 768px) {
		padding: 100px 39px;
		max-width: $tablet;
	}
	@media screen and (min-width: 1280px) {
		padding: 130px 55px;
		max-width: $desktop;
	}
} //.container
