<!-- Контакты -->
<section class="contacts-section section">
  <div class="contacts container">
    <h1>Контакты</h1>
    <lu>
      <li>
        <a href="https://goo.gl/maps/zMPSdmoFoa6UHQzZ8"
          >ул. Васильковая, 7А<span>,</span> Киев, 08132</a
        >
      </li>
      <li>
        <a href="tel:+38 044 111 11 11">
          +38 044 111 11 11
        </a>
      </li>
      <li>
        <a href="mailto:barbershop@email.com">
          barbershop@email.com
        </a>
      </li>
    </lu>

    <p>Время работы</p>
    <p>Ежедневно с 9:00 до 22:00</p>
  </div>
</section>
