<section class="galery">
  <div class="container">
    <div class="section-title-lite-fone">
      <!-- <svg class="icon-stripe" width="60" height="1"> -->
        <use href=""></use>
      </svg>
      <p class="section-name">
        На латинском языке “барба” означает “борода”
      </p>
    </div>

    <ul class="gallery-list">
      <li class="gallery-item">
        <div class="thumb">
          <img class="img-worker" srcset="./images/mobile/mobile-gallery1@1x.jpg 1x,
              ./images/tablet/tablet-gallery1@1x.jpg" src="./images/desktop/desktop-gallery1@1x.jpg" alt="Первый пример работ" />
        </div>
      </li>
      <li class="gallery-item">
        <div class="thumb">
          <img class="img-worker" srcset="./images/mobile/mobile-gallery2@1x.jpg 1x,
              ./images/tablet/tablet-gallery2@1x.jpg" src="./images/desktop/desktop-gallery2@1x.jpg" alt="Второй пример работ" />
        </div>
      </li>
      <li class="gallery-item">
        <div class="thumb">
          <img class="img-worker" srcset="./images/mobile/mobile-gallery3@1x.jpg 1x,
              ./images/tablet/tablet-gallery3@1x.jpg" src="/images/desktop/desktop-gallery3@1x.jpg" alt="Третий пример работ" />
        </div>
      </li>
      <li class="gallery-item">
        <div class="thumb">
          <img
            class="img-worker"
            srcset="./images/mobile/mobile-gallery4@1x.jpg 1x,
            ./images/tablet/tablet-gallery4@1x.jpg" 
            src="./images/desktop/desktop-gallery4@1x.jpg"
            alt="Четвертый пример работ"
          />
        </div>
      </li>
    </ul>
  </div>
</section>
