<!-- Форма онлайн-записи-->
<div class="online-booking container">
  <h1>Онлайн-запись</h1>
  <div class="name-container">
    <label class="name-label">
      <input
        class="customer-name"
        type="text"
        name="customer-name"
        placeholder=" "
        required
      />
      <span class="form-label">Имя*</span>
    </label>
  </div>
  <div class="tel-container">
    <label class="tel-label">
      <input
        class="customer-tel"
        type="tel"
        name="customer-tel"
        placeholder=" "
        required
      />
      <span class="tel-label">Телефон*</span>
    </label>
  </div>
  <div class="comments-container">
    <label>
      <textarea class="form-comments" name="comment" placeholder=" "></textarea>
      <span class="comments-label">Сообщение</span>
    </label>
  </div>
  <button class="button-sent" type="submit">Отправить</button>
</div>
