<div class="section-header">
  <header class="container-header">
    <img src="../images/Logo-barbar.svg" alt="Логотип Барбершопа" />
    <nav>
      <ul>
        <li>
          <a href="#about-us">О нас</a>
        </li>
        <li>
          <a href="#services">Услуги и цены</a>
        </li>
        <li>
          <a href="#masters">Мастера</a>
        </li>
        <li>
          <a href="#contacts">Контакты</a>
        </li>
      </ul>
      <div>
        <ul>
          <li>
            <a href="tel:+38 044 111 11 11">+38 044 111 11 11</a>
          </li>
          <li>
            <button>Онлайн запись</button>
          </li>
        </ul>
      </div>
    </nav>
    <section>
      <p>A hair salon for men in Kyiv</p>
      <h1>BarberShop</h1>
      <p>
        Мы эксперты в модных мужских стрижках. Работаем быстро, осторожно и со
        вкусом.
      </p>
    </section>
    <div>
      <button>Назад</button>
      <button>Вперед</button>
    </div>
  </header>
  <section>
    <a href="https://www.instagram.com/?hl=ru">Instagram</a>
    <a href="https://www.youtube.com/?hl=ru&gl=UA">Youtube</a>
  </section>
</div>
